*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('3.jpeg');
    background-repeat: no-repeat;
    background-size: 110%;
   }



h1{
    text-align: center;
    margin-top: 30px;
}

.block, .block1, .block2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 50px;
}

            /* 23 февраля */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    padding: 36px;
    margin: 0 auto;
    text-align: justify;
    margin-left: 100px;
}

.container p {
    font-size: 14pt;
    margin: 16px 0;
}

.countdown {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    font-size: 16px;
    color: white;
    min-width: 320px;
}

.countdown-item {
    background-color: rgb(43, 63, 158);
    padding: 6px;
    min-width: 65px;
}

.expired {
    color: black;
    margin: 0 auto;
}

.do {
    margin-bottom: 10px;
}

            /* 8 марта */

    .container1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 500px;
        padding: 36px;
        margin: 0 auto;
        text-align: justify;
        margin-left: 100px;
    }
    
    .container1 p {
        font-size: 14pt;
        margin: 16px 0;
    }
    
    .countdown1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: center;
        font-size: 16px;
        color: white;
        min-width: 320px;
    }
    
    .countdown-item {
        background-color: rgb(43, 63, 158);
        padding: 6px;
        min-width: 65px;
    }
    
    .expired {
        color: black;
        margin: 0 auto;
    }
    
    .do1 {
        margin-bottom: 10px;
    }

            /* 1 мая  */

    .container2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 500px;
        padding: 36px;
        margin: 0 auto;
        text-align: justify;
        margin-left: 100px;
    }
    
    .container2 p {
        font-size: 14pt;
        margin: 16px 0;
    }
    
    .countdown2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: center;
        font-size: 16px;
        color: white;
        min-width: 320px;
    }
    
    .countdown-item {
        background-color: rgb(43, 63, 158);
        padding: 6px;
        min-width: 65px;
    }
    
    .expired {
        color: black;
        margin: 0 auto;
    }
    
    .do2 {
        margin-bottom: 10px;
    }

            /* 9 мая */

    .container3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 500px;
        padding: 36px;
        margin: 0 auto;
        text-align: justify;
        margin-left: 100px;
    }
    
    .container3 p {
        font-size: 14pt;
        margin: 16px 0;
    }
    
    .countdown3 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: center;
        font-size: 16px;
        color: white;
        min-width: 320px;
    }
    
    .countdown-item {
        background-color: rgb(43, 63, 158);
        padding: 6px;
        min-width: 65px;
    }
    
    .expired {
        color: black;
        margin: 0 auto;
    }
    
    .do3 {
        margin-bottom: 10px;
    }

            /* 12 июня */

    .container4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 500px;
        padding: 36px;
        margin: 0 auto;
        text-align: justify;
        margin-left: 100px;
    }
    
    .container4 p {
        font-size: 14pt;
        margin: 16px 0;
    }
    
    .countdown4 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: center;
        font-size: 16px;
        color: white;
        min-width: 320px;
    }
    
    .countdown-item {
        background-color: rgb(43, 63, 158);
        padding: 6px;
        min-width: 65px;
    }
    
    .expired {
        color: black;
        margin: 0 auto;
    }
    
    .do4 {
        margin-bottom: 10px;
    }


            /* 4 ноября */

    .container5 {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 500px;
        padding: 36px;
        margin: 0 auto;
        text-align: justify;
        margin-left: 100px;
    }
    
    .container5 p {
        font-size: 14pt;
        margin: 16px 0;
    }
    
    .countdown5 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: center;
        font-size: 16px;
        color: white;
        min-width: 320px;
    }
    
    .countdown-item {
        background-color: rgb(43, 63, 158);
        padding: 6px;
        min-width: 65px;
    }
    
    .expired {
        color: black;
        margin: 0 auto;
    }
    
    .do5 {
        margin-bottom: 10px;
    }


            /* Новый Год!!! */

    .container6 {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 700px;
        padding: 36px;
        margin: 0 auto;
        text-align: justify;
    }
    
    .container6 p {
        font-size: 14pt;
        margin: 16px 0;
    }
    
    .countdown6 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: center;
        font-size: 16px;
        color: white;
        min-width: 320px;
    }
    
    .countdown-item {
        background-color: rgb(43, 63, 158);
        padding: 6px;
        min-width: 65px;
    }
    
    .expired {
        color: black;
        margin: 0 auto;
    }
    
    .do6 {
        margin-bottom: 10px;
    }